.cage {
  position: relative;
  display: flex;
  justify-items: center;
  padding: 0 1rem;
  margin-top: 1rem;
}
.post {
  width: 60%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .heroImage {
    width: 100%;
    position: relative;
    margin-top: 1rem;
  }
}
.left {
  width: 20%;
  height: 100%;
  display: inline-flex;
}
.right {
  width: 20%;
  height: 100%;
  display: inline-flex;
}
.hero {
  border-radius: 10px;
}
.postBody {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #f9f3f3;
  padding: 0 1rem;
  p {
    font-size: 17px;
    line-height: 25px;
    font-weight: lighter;
  }
  p::first-letter {
    font-size: 200%;
    text-transform: uppercase;
    font-family: "Zilla";
  }
}
@media only screen and (max-width: 600px) {
  .left {
    display: none;
  }
  .post {
    width: 100%;
  }
  .right {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .left {
    display: none;
  }
  .post {
    width: 80%;
    margin: auto;
  }
  .right {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .left {
    display: none;
  }
  .post {
    width: 80%;
  }
  .right {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .left {
    display: inline-flex;
    width: 20%;
  }
  .post {
    display: inline-flex;
    width: 60%;
  }
  .right {
    display: inline-flex;
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
  .left {
    display: inline-flex;
    width: 25%;
  }
  .post {
    display: inline-flex;
    width: 50%;
  }
  .right {
    display: 25%;
  }
}
