.cage {
  position: relative;
  padding: 0 1rem;
}
.share {
  width: 108px;
}
.post {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  .heroImage {
    width: 100%;
    position: relative;
  }
}
.left {
  height: 100%;
}
.right {
  height: 100%;
}
.hero {
  border-radius: 10px;
}
.postBody {
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0 1rem;
  p {
    font-size: 17px;
    line-height: 25px;
    font-weight: lighter;
  }
}
