.big {
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  height: fit-content;
}
.cover {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: auto;
  div:nth-child(2) {
    border-radius: 10px;
  }
}
.text {
  width: 100%;
  padding: 0.5rem;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .text {
    margin-bottom: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .text {
    margin-bottom: 0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
}
