$main_col: #ffe3fe;
$accent_col: #93329e;
.container {
  padding: 0 1rem;
  display: flex;
}
.containerPadded {
  padding: 0 5rem;
  min-height: 100vh;
}
.main {
  display: block;
  height: fit-content;
}

.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.card p {
  line-height: 1.3;
}

.logo {
  height: 1em;
}
.giant {
  display: flex;
  position: relative;
  height: inherit;
}
.half {
  width: 50%;
  display: inline;
  height: inherit;
}
.half:nth-child(2) {
  padding: 0 1rem;
  height: unset;
  .card {
    border-radius: 0;
  }
  a:nth-child(4) {
    .card {
      border: none;
    }
  }
}
.rect {
  width: 20px;
  height: 20px;
  background-color: $accent_col;
  display: inline-flex;
}
.outer {
  padding: 1rem;
  div:nth-child(2) {
    display: inline;
  }
}
.fog {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  .containerPadded {
    padding: 0 0.5rem;
  }
  .giant {
    display: block;
  }
  .half {
    width: 100%;
    display: block;
    // padding: 1rem;
  }
  .half:nth-child(2) {
    border: none;
    padding: 0 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .containerPadded {
    padding: 0 1.5rem;
  }
  .giant {
    display: block;
  }
  .half {
    width: 100%;
    display: block;
  }

  .half:nth-child(2) {
    border: none;
    padding: 0 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .containerPadded {
    padding: 0 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .containerPadded {
    padding: 0 2.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
