.logo {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .logo {
    font-size: 1.8rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .logo {
    font-size: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    font-size: 2.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
  .logo {
    font-size: 4rem;
  }
}
