$main_col: #ffe3fe;
$accent_col: #93329e;
.nav {
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 2;
  box-shadow: 0 8px 6px -6px $accent_col;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .nav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
