$main_col: #ffe3fe;
$accent_col: #93329e;
.icon {
  p {
    display: inline;
    font-family: "Merriweather Sans", sans-serif;
    // color: rgb(160, 158, 156);
    letter-spacing: 0.5px;
  }
  display: flex;
  align-items: center;
  margin-top: 1rem;
  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent_col;
    margin-right: 0.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .icon {
    margin-top: 0.5rem;
    p {
      font-size: 0.8rem;
    }
    .svg {
      font-size: 0.8rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .icon {
    p {
      font-size: 0.8rem;
    }
    .svg {
      font-size: 0.8rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .icon {
    p {
      font-size: 0.9rem;
    }
    .svg {
      font-size: 0.9rem;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
  .icon {
    p {
      font-size: 1.2rem;
    }
    .svg {
      font-size: 1.2rem;
    }
  }
}
