$accent_col: #93329e;
.tools {
  display: flex;
  text-align: right;
  width: fit-content;
  min-width: max-content;
  // justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  a {
    font-family: "Merriweather Sans", sans-serif;
    border-right: 1px solid rgb(229, 229, 229);
    padding: 0 0.5rem;
    box-shadow: 5px 0 6px -6px $accent_col;
  }
  a:nth-child(3) {
    border: none;
    padding-right: 0;
    box-shadow: none;
  }
}
@media only screen and (max-width: 600px) {
  .tools {
    a {
      font-size: 0.9rem;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .tools {
    a {
      font-size: 1.3rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .tools {
    a {
      font-size: 1.5rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tools {
    a {
      font-size: 1.5rem;
      padding: 0 2rem;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
  .tools {
    a {
      font-size: 2.5rem;
    }
  }
}
